button {
  background-color: #FFFFFF;
  border-radius: 6px;
  height: 34px;
  width: 247px;
  border: 1 solid;
  border-color: #D1D5DB;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}

button > img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}