* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.positioning {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 942px;
  background-color: #23252C;
}

.card {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #1A1B21;
}